<% layout('layouts/boilerplate') %>
<div>
    <% users.forEach(user => { %>
        <div>
            <p>Name: <%= user.firstName %></p>
            <p>Role: <%= user.role %></p>
            <div>
                <form action="/admin/contributorManagementApprove/<%= user._id %>" method="POST">
                    <button type="submit" class="">APPROVE</button>
                </form>
            <div>
                <form action="/user/edit/<%= user._id  %>">
                    <button>EDIT</button>
                </form>
            </div>
            <div>
                <form action="/admin/contributorManagementDelete/<%= user._id %>" method="post">
                    <button>DELETE</button>
                </form>
            </div>
        </div>
    <% }) %>  
</div>
<script src="/js/"></script>
