<% layout('layouts/boilerplate') %>

<div>
    <a href="/admin/category" role="button">Manage Categories</a>
</div>
<div>
    <a href="/admin/contributorManagement" role="button">Manage Users</a>
</div>
<tr>
    <% for(var i=0; i < contributon.length; i++) { %>
        <td>
            <%= contributon[i].id %>
        </td>
        <td>
            <%= contributon[i].title %>
        </td>
        <td>
            <%= contributon[i].createdAt %>
        </td>
        <td>
            <%= contributon[i].category %>
        </td>
        <td>
            <%= contributon[i].views %>
        </td>
    <% } %>
</tr>