<% layout('layouts/boilerplate') %>
<section>
  <img src="<%= currentUser.avatar?.path %> " alt="avatar" style="width: 150px;">
    <h5>
      <%= currentUser.firstName %>
        <%= currentUser.lastName %>
    </h5>
    <h6>
      <%= currentUser.email %>
    </h6>
    <p>
      <%= currentUser.phoneNumber %>
    </p>
    <p>
      <%= currentUser.designation %>
    </p>
    <p>
      <%= currentUser.firstName %>
    </p>
    <div class="col">
      <% if(currentUser.role==='ROLE_CONTRIBUTOR' ) { %>
        <a href="/contribution/create">Contribute</a>
      <% } else if(currentUser.role==='ROLE_ADMIN' ) { %>
          <a href="/admin/contributorManagement">Contributor Management</a>
      <% } else { %>
          <a href="/user/becomeContributor">Become Contributor</a>
      <% } %>
  </div>
  <div class="col">
    <a href="/user/edit" role="button">Update Profile</a>
  </div>
</section>