<% layout('layouts/boilerplate') %>



<div>
    <% if(contribution.banner?.path){ %>
        <img style="width: 100px;" src="<%= contribution.banner.path %>" alt="">
    <% } %>  
    <div>
        <h3><%= contribution.title %></h3>
        <p><%= contribution.content %></p>
        <p>Category: <%= contribution.category?.title || "All" %></p>
        <p>Created at: <%= contribution.createdAt %></p>
    </div>
</div>