<% layout('layouts/boilerplate') %>
<div>
    <% contributions.forEach(contribution => { %>
        <div>
            <% if(contribution.banner){ %>
                <img style="width: 100px;" src="<%= contribution.banner || 'https://picsum.photos/200' %>" alt="">
            <% } %>  
            <p><%= contribution.category?.title || "All" %></p>
            <p>
                <a href="/contribution/<%= contribution._id  %>"> <%= contribution.title %></a>
            </p>
            <p style="font-size: 0.8rem;"><%= contribution.content %></p>
            <div>
                <img style="width: 100px;" src="<%= contribution.user.avatar.path %> " alt="">
                <p class="description" style="font-size: 0.8rem;"><%= contribution.user.firstName %> </p>
            </div>
        </div>
    <% }) %>  
</div>