<% layout('layouts/boilerplate') %>

<div>
    <img src="<%= contribution.user.avatar.path %>"  width="30" height="30" alt="profile pic">
    <p><%= contribution.user.firstName %> <%= contribution.user.lastName %>  </p>
    <h1 class="display-3"><%= contribution.title %> </h1>
    <p><%= contribution.createdAt %> </p>
    <p>Views: <%= contribution.views %> </p>
    <p><%= contribution.category?.title || "All" %></p>
    <h3><%= contribution.content %></h3>
    <div>
        <% if(contribution.files.length > 0){ %>
            <h6>Additonal files</h6>
            <% contribution.files.forEach(file => { %>
                <a href="/file/<%= file._id  %>"><%= file.originalname %></a>
            <% }) %>  
        <% } %> 
    </div>
</div>