<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/styles.css">
<!-- Blogs -->

<div class="container-fluid">
    <!-- Actual search box -->
<div class="form-group has-search">
  <p class="display-6">Search some gyan</p>
  <span class="fa fa-search form-control-feedback"></span>
  <input type="text" class="form-control" placeholder="Search">
</div>

<div class="d-flex justify-content-between">
  <div class="m-3">
      <p class="fw-bold">Topic</p>
      <select class="form-select" style="width: 100%;" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
  </div>
  <div class="m-3">
      <p class="fw-bold">Contributor</p>
  
      <input type="text">
  </div>
  <div class="m-3">
      <p class="fw-bold">From:</p>
      <input type="date" name="" id="">
  </div>
  <div class="m-3">
      <p class="fw-bold">To:</p>
      <input type="date" name="" id="">
  </div>
</div>

</div>

<div class="products container-fluid">
    
    <% contributions.forEach(contribution => { %>
        <div class="card">
            <% if(contribution.banner){ %>
                <img src="<%= contribution.banner || 'https://picsum.photos/200' %>" alt="">
            <% } %>  
            <div class="mx-4 mt-3 mb-3">
                <p class="text-primary"><%= contribution.category?.title || "All" %></p>
                <p class="card-title fw-bold fs-5">
                    <a href="/contribution/<%= contribution._id  %>"> <%= contribution.title %></a>
                </p>
                <p class="description" style="font-size: 0.8rem;"><%= contribution.content %></p>
                <div class="d-flex blog-author">
                    <img src="<%= contribution.user.avatar.path %> " alt="">
                    <p class="description" style="font-size: 0.8rem;"><%= contribution.user.firstName %> </p>
                </div>
            </div>
        </div>
    <% }) %>  
</div>